<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/css/reveal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/css/theme/black.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/css/print/paper.css">
    <title>ophTxt2slides</title>
</head>
<body>
<main v-bind:class="{ reveal: started}">
    <div class="slides" v-if="started">
        <section v-for="slide in slides">{{ slide.contents }}</section>
    </div>
    <form class="ophForm" v-on:submit.prevent="onSubmit" v-if="!started">
        <textarea id="intxt" v-model="txt" v-on:input="onChange" placeholder="Entrez ici votre texte à convertir en présentation"></textarea>
        <input v-if="txt" type="submit" value="Lancer la présentation" class="btn"/>
        <a v-if="fodp!=null" class="btn" v-bind:href="fodp" download="presentation.fodp">Télécharger au format <em>LibreOffice Impress</em></a>
    </form>
</main>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/js/reveal.js"></script>
<script src="app.js"></script>
</body>
</html>
