.ophForm{
    width: 80%;
    min-width: 700px;
    max-width: 1000px;
    min-height: 500px;
    max-height:70%;
    margin: auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1px;
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
}
.ophForm > h1 {
    width: 100%;
    grid-column: 1/ span 2;
    font-family: sans;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.ophForm > textarea {
    grid-column: 1/span 2;
    padding: 15px;
    box-sizing: border-box;
    font-family: Arial;
    width: 100%;
    resize: vertical;
    font-size: 15px;
    min-height: 450px;
}

.ophForm > .btn {
    border: 0;
    text-align: center;
    font-family: sans;
    background-color: transparent;
    color:black;
    padding: 15px;
    text-decoration: none;
    font-size: 1.2em;
    cursor: pointer;
}

.ophForm > .btn:hover {
    background-color: rgba(0,0,0,.1);
    transition: .5s;
}

@media (max-width: 720px) {
    .ophForm{
        width: 100%;
        min-width: 100%;
        margin-top:0;
        border-radius: 0;
        display: block;
    }
    .ophForm > * {
        width: 100%;
        display: block;
    }
    
}